

.detail-card{
    display: flex;
    flex-direction: row;
}

.detail-cardSec{
    display: flex;
    flex-direction: column;
   
}

.title-detail{
    margin-left: 1.5rem;
}

.description-detail{
    margin-left: 1.5rem;
}