.container-ppal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;



    .cuadrados {
    background-color:  #3b78d7;
     width: 100px;
    height: 100px;
    }

    .uno {
        background-color: red;
    }
    .dos {
        background-color: black;
    }
    .tres {
        background-color: yellow;
    }
    .cuatro{
        background-color: coral;
    }
    }